<div class="navbar navbar-expend-sm bg-primary navbar-dark" style="color: white;">
    <div class="container">
        <div class="navbar-brand">
             <a href = "/"> <span style="color: white;" > Movie App</span>
            
              </a>
        </div>
        <ul class="nav">
            <li class="nav-item" >
                <a href="/login" class="nav-link" style="color: white;">Login</a>
            </li>
            <li class="nav-item">
                <a href="/register" class="nav-link" style="color: white;">Register</a>
            </li>
        </ul>
    </div>
</div>